option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "6.12.0"

commands:
    100-node-script-installer:
        command: "curl --silent --location https://rpm.nodesource.com/setup_8.4.0 | sudo bash -"
        test: "[ ! -x /usr/bin/node ]"
    200-install-nodeJS:
        command: "yum -y install nodejs gcc-c++ make"
        test: "[ ! -x /usr/bin/node ]"
    300-replace-node:
        command: "mv node node.old && ln -s /usr/bin/node node"
        cwd: "/opt/elasticbeanstalk/node-install/node-v6.12.0-linux-x64/bin"
        test: "[ ! -x /opt/elasticbeanstalk/node-install/node-v6.12.0-linux-x64/bin/node.old ]"
    350-replace-npm:
        command: "mv npm npm.old && ln -s /usr/bin/npm npm"
        cwd: "/opt/elasticbeanstalk/node-install/node-v6.12.0-linux-x64/bin"
        test: "[ ! -x /opt/elasticbeanstalk/node-install/node-v6.12.0-linux-x64/bin/npm.old ]"
